# Copy this file to .env.local and adjust if needed.
# These match the values in the root project's config.json by default.

# mainnet | testnet3 | testnet4 | chipnet
VITE_NETWORK=mainnet
VITE_DISTRO_API=https://api.folding.cash/
